<div id="promo">
        <div class="jumbotron">
            <h1>Bienvenidos</h1>
            <p>Lo Mejor de Corte Clásico y a Tijera.</p>
            <p><a class="btn btn-default" role="button" href="appointments.html">¡Haz tu cita ahora!</a></p>
        </div>
    </div>
    <div class="container">
        <div id="barra">
            <ul class="nav nav-pills">
                <li><a href="services.html"><strong>Nuestros servicios</strong></a></li>
                <li class="active"><a href="#"><strong>Barberos</strong> </a></li>
                <li><a href="appointments.html"><strong>Citas</strong> </a></li>
                <li><a href="gallery.html"><strong>Galeria</strong> </a></li>
            </ul>
        </div>
    </div>
    <div id="empresa" style="padding:20px;margin:1px;">
    <section class="card-section-imagia">
        <h1>Nuestros barberos</h1>
        <h2>Tenemos lo mejor, para brindarte lo mejor</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="card-container-imagia">
                        <div class="card-imagia">
                            <div class="front-imagia">
                                <div class="cover-imagia"><img src="https://picsum.photos/id/195/700" alt=""></div>
                                <div class="user-imagia"><img src="https://picsum.photos/id/1005/200" class="img-circle" alt /></div>
                                <div class="content-imagia">
                                    <h3 class="name-imagia">Daniel Loza</h3>
                                    <p class="subtitle-imagia">Barbero principal </p>
                                    <p class="text-center"><em>"Ser barbero es una profesión que trabaja el arte del corte y apurado masculino"</em></p>
                                </div>
                                <div class="footer-imagia"><span><i class="fa fa-plus"></i> Más información</span></div>
                            </div>
                            <div class="back-imagia">
                                <div class="content-imagia content-back-imagia">
                                    <div>
                                        <h3 class="text-center">Su especialidad:</h3>
                                        <p class="text-center">Cortes tradicionales y actuales, diagnósticos y tratamientos del cabello,
                  métodos de corte a máquina, tijera o navaja, peinados y estilismos masculinos,
                  protocolo y dirección, colores y moldeados, diseño y perfilado de barba,
                  difererntes tipos de afeitado. </p>
                                    </div>
                                </div>
                                <div class="footer-imagia">
                                    <div class="social-imagia text-center"><a href="https://www.facebook.com/daniel.loza.566" target="_blank"><i class="fa fa-facebook"></i></a><a href="https://www.linkedin.com/in/daniel-loza-527461186/" target="_blank"><i class="fa fa-linkedin"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card-container-imagia">
                        <div class="card-imagia">
                            <div class="front-imagia">
                                <div class="cover-imagia cover-gradient"></div>
                                <div class="user-imagia"><img src="https://picsum.photos/id/1011/200" class="img-circle" alt /></div>
                                <div class="content-imagia">
                                    <h3 class="name-imagia">Paola Santana</h3>
                                    <p class="subtitle-imagia">Aprendiz de barbero </p>
                                    <p class="text-center"><em>"Te ayudamos a combinar clase y modernidad".</em></p>
                                </div>
                                <div class="footer-imagia"><span><i class="fa fa-plus"></i> Más información</span></div>
                            </div>
                            <div class="back-imagia">
                                <div class="content-imagia content-back-imagia">
                                    <div>
                                        <h3 class="text-center">Su especialidad:</h3>
                                        <p class="text-center">Diagnósticos y tratamientos del cabello,
                  métodos de corte a máquina, tijera o navaja,
                  colores y moldeados, diseño y perfilado de barba,
                  difererntes tipos de afeitado. </p>
                                    </div>
                                </div>
                                <div class="footer-imagia">
                                    <div class="social-imagia text-center"><a href="https://www.facebook.com/santanastngtz/" target="_blank"><i class="fa fa-facebook"></i></a><a href="https://www.linkedin.com/in/paola-guadalupe-guti%C3%A9rrez-santana-5280b21aa/" target="_blank"><i class="fa fa-linkedin"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
