<div id="promo">
    <div class="jumbotron">
        <h1>Bienvenidos</h1>
        <p>Lo Mejor de Corte Clásico y a Tijera.</p>
        <p><a class="btn btn-default" role="button" routerLink="/appointments">¡Haz tu cita ahora!</a></p>
    </div>
</div>
<div id="empresa" style="/*padding:20px;*/margin:1px;">
    <div class="container">
        <div class="row flex-box flex-wrap-wrap">
            <div class="col-sm-4 flex-box flex-justify-center flex-align-center">
              <a href="assets/img/gallery1.jpg" class="fancybox" rel="gallery1">
                <img src="assets/img/gallery1.jpg" class="img-responsive" />
              </a>
            </div>
            <div class="col-sm-4 flex-box flex-justify-center flex-align-center">
              <a href="assets/img/gallery2.jpg" class="fancybox" rel="gallery1">
                <img src="assets/img/gallery2.jpg" class="img-responsive" />
              </a>
            </div>
            <div class="col-sm-4 flex-box flex-justify-center flex-align-center">
              <a href="assets/img/gallery3.jpg" class="fancybox" rel="gallery1">
                <img src="assets/img/gallery3.jpg" class="img-responsive" />
              </a>
            </div>
            <div class="col-sm-4 flex-box flex-justify-center flex-align-center">
              <a href="assets/img/gallery4.jpg" class="fancybox" rel="gallery1">
                <img src="assets/img/gallery4.jpg" class="img-responsive" />
              </a>
            </div>
            <div class="col-sm-4 flex-box flex-justify-center flex-align-center">
              <a href="assets/img/gallery5.jpg" class="fancybox" rel="gallery1">
                <img src="assets/img/gallery5.jpg" class="img-responsive" />
              </a>
            </div>
            <div class="col-sm-4 flex-box flex-justify-center flex-align-center">
              <a href="assets/img/gallery6.jpg" class="fancybox" rel="gallery1" >
                <img src="assets/img/gallery6.jpg" class="img-responsive" />
              </a>
            </div>
    <div class="col-sm-4 flex-box flex-justify-center flex-align-center">
      <a href="assets/img/gallery7.jpg" class="fancybox" rel="gallery1" >
        <img src="assets/img/gallery7.jpg" class="img-responsive" />
      </a>
    </div>
    <div class="col-sm-4 flex-box flex-justify-center flex-align-center">
      <a href="assets/img/gallery8.jpg" class="fancybox" rel="gallery1" >
        <img src="assets/img/gallery8.jpg" class="img-responsive" />
      </a>
    </div>
        </div>
    </div>
</div>
