<div id="promo">
      <div class="jumbotron">
          <h1>Bienvenido Administrador</h1>
          <p>Lo Mejor de Corte Clásico y a Tijera.</p>
      </div>
</div>
<div class="container">
      <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-6">
                  <h1>Registro de nuevos barberos</h1>
                  <p>Llene el formulario con los datos del nuevo barbero(a).</p>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-6" style="height:150px;"></div>
      </div>
</div>
<div class="card border-primary mb-3">
    <div class="col-md-10 col-md-offset-1" style="margin-right:0px;margin-left:90px;padding-top:24px;">
        <div class="container">
            <div>
                <form>
                    <div class="form-group">
                       <div id="formdiv">
                          <div class="table-responsive">
                                <br>
                                <div class="my-2 text-left">
                                    <button class="btn btn-rounded btn-primary" style = "position: absolute; top: 28px; left: 106px;" type="button" [routerLink] = "['/admin-barbers/form']">Crear Barberos</button>
                                </div>
                                <br>
                                <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th style="display:none">Id</th>
                                                <th>Nombre</th>
                                                <th>Puesto</th>
                                                <th>Especialidad</th>
                                                <!--<th>Red Social</th>-->
                                                <!--<th>Estatus</th>-->
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let barber of barbers">
                                                <td  style="display:none">{{barber.id}}</td>
                                                <td>{{barber.nombre}}</td>
                                                <td>{{barber.puesto}}</td>
                                                <td>{{barber.especialidad}}</td>
                                                <!--<td>{{barber.redSocial}}</td>-->
                                                <!--<td>{{barber.estatus}}</td>-->
                                                <td><button (click)='delete(barber)' class="btn btn-danger"> Eliminar</button></td>
                                                <td><button type="button"  [routerLink]="['/admin-barbers/form',barber.id]" class="btn btn-outline-secondary">  Editar </button></td>
                                            </tr>
                                        </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
