<app-header></app-header>
<div class="container">

<router-outlet></router-outlet>

<!-- COMPONENTS OF USER -->
<!--<app-barbers></app-barbers>-->
<!--<app-gallery></app-gallery>-->
<!--<app-services></app-services>-->

<!-- COMPONENTS OF ADMIN -->
<!--<app-admin></app-admin>-->
<!--<app-admin-barbers></app-admin-barbers>-->
<!--<app-admin-packages></app-admin-packages>-->

<!-- COMPONENTS OF TERMS AND PRIVACY -->
<!--<app-term-and-conditions></app-term-and-conditions>-->
<!--<app-privacypolicy></app-privacypolicy>-->


</div>
<app-footer></app-footer>
