<div id="promo">
    <div class="jumbotron">
        <h1>Bienvenido Administrador</h1>
        <p>Lo Mejor de Corte Clásico y a Tijera.</p>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-7 col-md-7 col-sm-6">
      <h1>Registro de nuevas citas</h1>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-6" style="height:150px;"></div>
  </div>
</div>
<div class="card border-primary mb-3">
<div class="col-md-10 col-md-offset-1" style="margin-right:0px;margin-left:90px;padding-top:24px;">
	<div class="container">
        <div>
            <form>
                <div class="form-group">
                    <div id="formdiv">
                        <div class="table-responsive">
                          <br>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th style="display:none">Id</th>
                                        <th>Nombre Cliente</th>
                                        <th>Fecha y Hora</th>
                                        <th>Número Teléfono</th>
                                        <th>Barbero</th>
                                        <th>Email</th>
                                        <th>Calle y Núm.</th>
                                        <th>CP</th>
                                        <th>Descripción Domicilio</th>
                                        <th>Notas</th>
                                        <th></th>
                                        <!--<th></th>-->
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let appointment of appointments">
                                        <td  style="display:none">{{appointment.id}}</td>
                                        <td>{{appointment.nombreCliente}}</td>
                                        <td>{{appointment.fechaHora}}</td>
                                        <td>{{appointment.numTelefono}}</td>
                                        <td>{{appointment.barbero}}</td>
                                        <td>{{appointment.email}}</td>
                                        <td>{{appointment.calleNum}}</td>
                                        <td>{{appointment.cp}}</td>
                                        <td>{{appointment.descDomicilio}}</td>
                                        <td>{{appointment.notas}}</td>
                                        <td><button (click)='delete(appointment)' class="btn btn-danger"> Eliminar</button></td>
                                        <!--<td><button type="button"  [routerLink]="['/admin-packages/form',paquete.id]" class="btn btn-outline-secondary">  Editar </button></td>-->
                                        <!--<td><button class="btn btn-default-update " (click)='update()' name="update" role = "button"   style="margin-left:16px;">Actualizar </button></td>-->
                                        <td><button (click)='realizada(appointment)' class="btn btn-default-update"> Realizada</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
